header{
    margin-bottom: 50px;
}

body{
    background-color: aqua;
}


nav.d-flex.justify-content-between.align-items-center {
    height: 70px;
}

.profile{
    margin-top: 30px;
}

form > p > input{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}

#id_user_agreement{
    width: auto;
}

form > ul{
    list-style-type: none;
}

body > main > form > p:nth-child(9) > label > a {
    margin-right: 8px;
}

#id_description{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}

.request_list{
    width: 100%;
    background-color: #f8f5f5;
    padding: 20px 20px;
    border: 1px solid #d7dee8;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px #e0e7ef;
}

.request_list_items{
    display: flex;
    justify-content: space-between;
}

.photocard{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px auto;
    border-radius: 10px;
}

.request_list_description{
    max-width: 100%;
    word-break: break-word;
}

#id_category{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}

.confirm{
    width: 24px;
    height: 24px;
}