header{
    margin-bottom: 50px;
}

body{
    background-color: aqua;
}

a:first-child{
    margin-right: 800px;
}

nav.d-flex.justify-content-between.align-items-center {
    height: 70px;
}

.profile{
    margin-top: 30px;
}

form > p > input{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}

#id_user_agreement{
    width: auto;
}