header{
    margin-bottom: 50px;
}

body{
    background-color: aqua;
}

body > header > div > nav > a.fs-4{
    margin-right: 800px;
}

nav.d-flex.justify-content-between.align-items-center {
    height: 70px;
}

.profile{
    margin-top: 30px;
}

form > p > input{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}

#id_user_agreement{
    width: auto;
}

form > ul{
    list-style-type: none;
}

body > main > form > p:nth-child(9) > label > a {
    margin-right: 8px;
}

#id_description{
    width: 400px;
    padding: 4px 10px;
    border: 2px solid #d5a97f;
    border-radius: 10px;
}