{% extends 'base_generic.html' %}


{% block mylist %}
  <h1>Все заявки</h1>
  <br>
  {% if design_requests %}
    <ul>
      {% for request in design_requests %}
        <div class="request_list">
          <h2>{{ request.title }}</h2>

          <p class="btn btn-warning">{{ request.get_status_display }}</p>
          <p class="request_list_description">{{ request.description }}</p>
          <p>Стиль заказчика: {{ request.category }}</p>
          <img src="{{ request.image_sale.url }}" alt="photocard" class="photocard">
          <div class="request_list_items">
            <div class="list_buttons">
              <a href="{% url 'design_request_delete' request.id %}" class="btn btn-warning">Удалить заявку</a>
            </div>
              <p>{{ request.created_at }}</p>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас пока нет заявок.</p>
  {% endif %}
{% endblock %}