<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav >
            <ul>
                <li>DESIGN.PRO</li>
                <li><a href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="">Профиль</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% if user.is_authenticated %}
            <h1>Добро пожаловать {{ user.username }}!</h1>
        {% else %}
            {% block content %}
            {% endblock %}
        {% endif %}
    </main>
</body>
</html>