<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="container">
            <ul class="d-flex justify-content-between">
                <li>DESIGN.PRO</li>
                <li><a href="">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="">Профиль</a></li>
                    <li><a href="">Выйти</a></li>
                {% else %}
                    <li><a href="">Войти</a></li>
                    <li><a href="">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>